---
---

$header-bg-color: #fff53a;
$header-bg-color-secondary: #ffba30;

$section-headings-color: #efb700;
$body-link-color: #dbb93f;

@import "{{ site.theme }}";

.project-tagline {
  opacity: 0.9;
}
